// colors
$white: #ffffff;
$black: #000000;
$accent: #f13c6e;
$grayBackground1: #efefef;
$grayBackground2: #e5e5e5;
$grayBackground3: #c4c4c4;
$darkText: #333333;
$grayText: #828282;

// font
$mainFont: "roboto";

// screens
$mobile: "max-width: 576px";
$tablet: "max-width: 768px";
$desktop: "max-width: 1024px";
$projector: "max-width: 1200px";
