.brands__items {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  &-image {
    @extend .img;
    width: 27.75rem;
    height: 11.9rem;
    border: 1px solid $grayBackground1;
    text-align: center;
    padding-top: 3.5rem;

    // // Управление отдельными столбцами
    // // 1ый столбец
    // &:nth-child(4n + 1) {
    //   width: 27.6rem;
    // }

    // // 2ой столбец
    // &:nth-child(4n + 2) {
    //   width: 27.9rem;
    // }

    // // 3ий столбец
    // &:nth-child(4n + 3) {
    //   width: 27.8rem;
    // }

    // // 4ый столбец
    // &:nth-child(4n + 4) {
    //   width: 27.7rem;
    // }
  }
}
