@mixin wrapper($bg: $grayBackground1) {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  background-color: $bg;
}

.h1 {
  font-size: 4.8rem;
  color: $white;
  font-weight: 700;
  line-height: 5.6rem;
}

.h2 {
  font-size: 3.6rem;
  color: $accent;
  font-weight: 700;
  line-height: 4.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.h3 {
  font-size: 2.4rem;
  color: $black;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

.h4 {
  font-size: 1.8rem;
  color: $white;
  font-weight: 700;
  line-height: 2.1rem;
}

.h5 {
  font-size: 1.6rem;
  color: $black;
  font-weight: 500;
  line-height: 2.2rem;
}

.p1 {
  font-size: 1.4rem;
  color: $white;
  line-height: 2rem;
}

.p2 {
  font-size: 1.4rem;
  color: $darkText;
  line-height: 2rem;
}

.p3 {
  color: $black;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}

.a__header1 {
  color: $black;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
}

.a__header2 {
  color: $darkText;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.a__footer1 {
  color: $grayText;
  font-size: 1.2rem;
  line-height: 2.8rem;
}

.a__footer2 {
  color: $grayText;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.img {
  object-fit: cover;
  object-position: center;
}

.btn {
  display: inline-block;
  background-color: $white;
  color: $black;
  font-size: 1.4rem;
  line-height: 1.6rem;
  cursor: pointer;
  border: none;
  text-align: center;
  user-select: none;
  text-decoration: none;
  border-radius: 4rem;

  &:hover {
    background-color: darken($white, 20%);
  }

  &:focus {
    outline: none;
  }
}

.input {
  color: $darkText;
  font-size: 1.4rem;
  background-color: $white;
  padding: 0.95rem 0;
  line-height: 1.6rem;
  border: none;
  border-radius: 3rem;

  &::placeholder {
    color: $grayBackground3;
  }
}
