.wrapper__footer-categories {
  @include wrapper($white);
}

.wrapper__footer-actions {
  @include wrapper($white);
}

.wrapper__footer-confident {
  @include wrapper;
}

.footer {
  &__categories {
    display: flex;
    justify-content: space-between;
    height: 37.3rem;

    @media ($projector) {
      margin: 0 2rem;
      padding: 0 2rem;
      justify-content: space-evenly;
    }
  }

  &__category {
    width: 25.5rem;

    @media ($projector) {
      width: 8rem;
    }
  }

  &__title {
    @extend .h5;
    max-width: 9.9rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  &__items {
    border-top: 1px solid $grayBackground1;

    padding-top: 2.5rem;
    padding-bottom: 6rem;
  }

  &__link {
    @extend .a__footer1;
    text-decoration: none;
    margin-left: -4rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
  }

  &__icons {
    display: inline-block;
    text-align: center;

    @media ($projector) {
      display: flex;
      margin: 0 4rem;
      height: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__icon {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;

    color: $accent;
    border: 2px solid $accent;
    border-radius: 50%;

    padding-top: 1.5rem;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: darken($white, 20%);
    }

    @media ($mobile) {
      margin-right: 0;
    }
  }

  &__adress {
    display: inline-block;
    @extend .a__header1;

    @media ($projector) {
      text-align: center;
      font-size: 1rem;
    }

    @media ($mobile) {
      width: 10rem;
      text-align: center;
      font-size: 1rem;
      margin-left: -4rem;
    }
  }

  &__number {
    @extend .menu__number;

    @media ($projector) {
      text-align: center;
      font-size: 1rem;
      margin-right: 2rem;
    }

    @media ($mobile) {
      text-align: center;
      font-size: 1rem;
      margin-right: 0;
    }
  }

  &__btn {
    @extend .menu__btn;

    @media ($mobile) {
      margin: 0;
    }
  }

  &__confident {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;

    @media ($projector) {
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
    }

    &-text {
      @extend .a__footer2;

      @media ($projector) {
        line-height: 1.4;
      }

      // &:last-child {
      //   padding-left: 34.5rem;
      // }
    }
  }
}
