@import "./utils/";
@import "./components/";
@import "./layout/";

.wrapper {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  background-color: $grayBackground1;
}

.container {
  width: 100%;
  max-width: 111rem;
  margin: 0 auto;
}

.divider {
  height: 8rem;
}
